body{
    background-color: #b6ffff;
}
h1{
    background-color: #4888e9;
    margin :0;
    padding: 0;
    top:0;
   
}
div{
    background-color: #267db849;
    margin :0;
    padding: 10px;
}
p{

}